<!DOCTYPE html>
<html lang="">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">  
</head>
<body>


    <div class="header">
        <h1>Mask Off Detection System</h1>
    </div>

    <div class=".container">

        <div class="col-md-6 ">
            <div class="title">
            <div class="pictures">
                  <canvas id="image" class="canvas" width="300" height="300" style="display: none;"></canvas>
                 <canvas id="sadge" class="sadge" width="128" height="128" style="display: none;"></canvas>
                 <video id="videoElement" autoplay="true" width="400" height="400" onloadstart="oink()"></video>
            </div>
        </div>
        <h4 id = "borderR">Live Feed</h4>
    </div>
        </div>
    <div class="col-md-6">
        <p id="timer" style="display: none;"><strong>0.600</strong></p>
    

    <div class="output">
        <p>Alert</p>
        <p id="outBox" onchange="change()"></p>
        </div>
    </div>
    </div>

    {% load static %}
    <script src="{% static "script.js" %}"></script>
</div>


</body>

</html>
